.App {
  background: #e4e6c3;
}
.Search {
  width: 100%;
  font-family: sans-serif;
  height: 25vh;
  background: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.Emoji {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0.3em 0 0 0;
  grid-gap: 0.3em;
}

.EmojiCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6b7fd7;
  border: 2px solid;
  box-shadow: 3px 3px #888888;
}
input {
  text-align: center;
}
